{% extends "base.html" %}
{% block title %}| tweets {% endblock %}

{% block script %}
<script>


//this regex by cfe
    function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

//how to fetch api throught js
            // const xhr=new XMLHttpRequest();
            //
            // xhr.open("GET","/api/tweets/",true);
            // xhr.setRequestHeader("Content-type", "application/json");
            // xhr.onprogress=function () {
            //     console.log("loading.....");
            //
            // };
            // xhr.onload=function () {
            //    let obj= JSON.parse(this.response);
            //     console.log(obj);
            //     let list=document.getElementById('stuff');
            //     str='';
            //     for (i in obj){
            //         str+='<div class="col-sm-9 offset-lg-3">'+'<a href="#">'+'#'+obj[i].content+'</a>'+
            //             '<br>'+'via | '+obj[i].user.username+
            //             '</div>'
            //             +'<hr>'
            //     }
            //     list.innerHTML=str
            // };
            // let sad=JSON.stringify();
            // xhr.send();
            //
            

$(document).ready(function(){
    console.log("kaam chalu hai");

    var queryt=getParameterByName('q');
    console.log(queryt);
//ajax via jquery
    function fetchData() {
        console.log('fetching...');
        $.ajax({
         url: "/api/tweets/",
         data:{
             "q":queryt
         },
         method: "GET",
         success:data => {
             $.each(data,function (key,value) {
                 var keys=key;
                 var contends=value.content;
                 var Tusers=value.user;
                 $("#stuff").append(
                     "<div class='row'>" +"<div class='col-sm-9 offset-sm-3'>"+"<li>"+"<a href='#'>"+ contends+"</a>" +"<br>"+  "via"  + Tusers.username  +"|  <a href='#'> view" +"</a>"+"</li>"+"</div>" +"</div>"+"<hr>"
                 )
             })

         },
         error:data=>{
             console.log("error");
             console.log(data);}
             });

    }
    fetchData();



    $('#tweet_form').submit(function (event) {
        event.preventDefault();
        var this_= $(this);
        // console.log(event);
        var cData=this_.serialize();
         $.ajax({
         url: "/api/tweets/",
         data:cData,
         method: "POST",
         success:function (data) {
             console.log(data);
             fetchData()
         },
         error:function(data){
             console.log("error");
             console.log(data);}
             });
    })

    })






</script>
{% endblock %}

{% block container %}

<div class="row">
      <div class="col-sm-3 col-xs-12">
            <h1 class="text-center" style="background-color: steelblue">{{ request.user }}</h1>
            </div>
    <div class="col-sm-9 mt-0">
        <h3>Share some tweet!</h3>
          {% include "tweets/form.html" with form=create_form action_url=create_url  btn_title="tweet" form_id="tweet_form" %}
    </div>
</div><hr>
        <div id="stuff">

        </div>

<!--{% if request.GET.q %}-->
<!--no tweet-->
<!--{% else %}-->
<!--kakaka-->
<!--{% endif %}-->


{% endblock %}






<!--<div class="row">-->
<!--    {% for object in object_list %}-->
<!--    <div class="col-sm-9 offset-lg-3">-->
<!--       <li> <a class="text-capitalize" href="#">#{{object.content}}</a> on<br>-->
<!--        {{object.timestamp}}|-->
<!--        {{object.timestamp|timesince}}..|  <a href="{{object.get_absolute_url}}">VIEW</a>-->
<!--    </div></div></li>-->
<!--</div><div class="col-12"><hr></div>-->

<!--{% if request.GET.q %}-->
<!--no tweet-->
<!--{% else %}-->
<!--kakaka-->
<!--{% endif %}-->

<!--{% endfor %}-->
