{% extends "base.html" %}
{% block title %}| tweets {% endblock %}

{% block container %}
<div>
      <div class="col-sm-3 offset-1 col-xs-12">
            <h1 class="text-center" style="background-color: steelblue">{{ request.user }}</h1>
            </div>
    <div class="col-9 offset-4 mt-0">
          {% include "tweets/form.html" with form=create_form action_url=create_url  btn_title="tweet" %}
    </div>
</div><hr>

<div class="row">
    {% for object in object_list %}
    <div class="col-sm-9 offset-4">
        <a class="text-capitalize" href="#">#{{object.content}}</a> on<br>
        {{object.timestamp}}|
        {{object.timestamp|timesince}}..|  <a href="{{object.get_absolute_url}}">VIEW</a>
    </div>
</div><div class="col-12"><hr></div>
              {% empty %}
{% if request.GET.q %}
no tweet
{% else %}
kakaka
{% endif %}

{% endfor %}
{% endblock %}



