{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <title>Tweeter {% block title %} {% endblock %}</title>
  </head>
  <body>
  {% include "navbar.html" %}
  <div class="container">
      {% block container %} {% endblock %}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   {% block script %} {% endblock %}
  <script>
  $(document).ready(function () {
      console.log("working hai base se bhai");
      var timeinat;
      var totaltime=500;
      var searchinput= $('#navser input[type=text]');
      var searchquery;
      searchinput.keyup(function (event) {
          var searchquery=$(this).val();

          clearTimeout(timeinat);
          timeinat=setTimeout(searchdone,totaltime)
      });
      searchinput.keydown(function () {
          clearTimeout(timeinat)

      });
    function searchdone() {
        console.log("call the done fun");
      if (searchquery){
      var url ='/tweets/q='+ searchquery;
      document.location.href=url;
      }
    }

  })
  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" >
    </script>
    <script type="text/javascript"src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>